#tagIndex {
    display: flex;
    flex-direction: column;
    height: 82vh;
}

#tagIndex .input-text > * > textarea {
    height: 80px;
}

#tagIndex .main-tag {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

#tagIndex .table-container {
    overflow-y: hidden;
    margin-bottom: 25px;
    min-height: 82vh;
}

#tagIndex .tag-list-section {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#tagIndex td {
    border-right: none;
}

@media screen and (max-width: 1000px) {
    #tagIndex .main-tag {
        justify-content: space-between;
    }
    #tagIndex .tableau {
        width: 95%;
    }
}

@media screen and (max-width: 880px) {
    #tagIndex {
        height: auto;
    }
    #tagIndex .main-tag {
        flex-direction: column;
        align-items: center;
    }
    #tagIndex .color-picker-slider {
        width: 70%;
    }
    #tagIndex .main-tag section:nth-child(2){
        width: 70%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #tagIndex .main-tag section:nth-child(1){
        width: 90%;
    }
    #tagIndex .main-tag section:nth-child(2){
        width: 90%;
    }
    #tagIndex .modal-content {
        margin: 2rem 1rem;
    }
    #tagIndex .color-picker-select {
        flex-direction: column;
    }
    #color-render {
        height: 80px;
        margin-top: 1rem;
    }
    #tagIndex .modal-btn {
        margin-top: 0;
    }
}
