<footer class="footer-container">
    <section class="github-link">
        <img src="/images/Github/GitHub-Mark-Light-32px.png" alt="Mon github">
    </section>
    <section class="footer-link">
        <a href="#">Conditions d’utilisation</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">À propos</a>
        <a href="#">Contact</a>
    </section>
</footer>