.calendar-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    /* width: 80%; */
    border: 2px solid var(--color-default);
}
/*---------------------------------------------------------------*/
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
/*---------------------------------------------------------------*/
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    background-color: var(--light-grey);
    padding: 2px;
}
/*---------------------------------------------------------------*/
.calendar-days-display {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 150px);
    text-align: center;
    background-color: var(--vlight-grey);
    /* padding: 2px; */
}
.calendar-day {
    border-right: 1px solid var(--medium-grey);
    border-bottom: 1px solid var(--medium-grey);
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.calendar-day:hover {
    background-color: var(--light-grey);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

/*---------------------------------------------------------------*/
.currentDay {
    background-color: var(--medium-grey);
    color: white;
    /* border-radius: 5px; */
}

.calendar-header > span:hover, .calendar-header > span > *:hover{
    cursor: pointer;
}
.calendar-task {
    border-bottom: 1px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
    padding: 3px;
}
.calendar-task:hover {
    background-color: var(--color-primary) !important;
    filter: brightness(85%);
    color: white;
}
.calendar-task-count {
    display: none;
}
/*---------------------------------------------------------------*/
/*  Small calendar variation                                     */
/*---------------------------------------------------------------*/
.small-calendar-container {
    width: 250px;
}
.small-calendar-container .calendar-days-display {
    grid-template-rows: none;
}
/*---------------------------------------------------------------*/
@media screen and (max-width: 700px) {
    .calendar-days-display {
        grid-template-rows: repeat(5, 20%);
    }
    .calendar-day {
        height: 74px;
    }
    .calendar-task {
        display: none;
    }
    .calendar-task-count {
        display: flex;
        align-self: center;
        margin-top: 5px;
        color: var(--medium-red);
    }
}
/*---------------------------------------------------------------*/