.calendar-container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 80%;
    border: 2px solid var(--color-default);
}
/*---------------------------------------------------------------*/
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}
/*---------------------------------------------------------------*/
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    background-color: var(--light-grey);
    padding: 2px;
}
/*---------------------------------------------------------------*/
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 150px);
    text-align: center;
    background-color: var(--vlight-grey);
    padding: 2px;
}
/*---------------------------------------------------------------*/
.currentDay {
    background-color: var(--medium-grey);
    color: white;
    border-radius: 5px;
}
.calendar-days p:hover {
    background-color: var(--light-grey);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.calendar-header span:hover, .calendar-header span > *:hover{
    cursor: pointer;
}
/*---------------------------------------------------------------*/