.select-container {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px; 
    position: relative;   
}
/*----------------------------------------------------------*/
.selected {
    border: 1px solid var(--border-color);
    background-color: var(--vlight-grey);
    padding: 10px;
    /* width: 400px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.selected .tag, .selected .element {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
/*----------------------------------------------------------*/
.open-select {
    position: absolute;
    top: 10px;
    right: 10px;
    animation-duration: 0.5s;
}
.open-select:hover {
    cursor: pointer;
}
.reset-tag, .reset-selected {
    position: absolute;
    top: 10px;
    right: 40px;
}
.reset-tag:hover, .reset-selected:hover {
    cursor: pointer;
}
/*----------------------------------------------------------*/
.select-options {
    display: none;
    opacity: 0;
    max-height: 0;    
    margin-top: 15px;
    background-color: var(--vlight-grey);
    border: 1px solid var(--border-color);
    width: 400px;
    border-radius: 5px;
    /* padding: 10px; */
    transition: all 0.4s;
    overflow: hidden;
    flex-direction: column;
}
.select-options.active {
    max-height: 200px;
    width: 100%;
    opacity: 1;
    position: absolute;
    display: flex;
    overflow-y: scroll;
}
.options {
    margin: 8px 0;
    display: flex;
    align-items: center;
}
.options-row {
    /* padding-top: 10px; */
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    transition: 0.2s backgroundColor;
}
.options-row:hover{
    background-color: #C8E5F9;
}
.rotate {
    transform: rotate(180deg);
}
/*----------------------------------------------------------*/
.tag {
    padding: 5px 8px;
    border-radius: 8px;
    text-align: center;
}
.tag input[type="checkbox"] {
    display: none;
}
.tag:hover{
    cursor: pointer !important;
    filter: brightness(85%);
}
.tag > *:hover{
    cursor: pointer !important;
    filter: brightness(85%);
}
.tag > input,label{
    cursor: pointer !important;
    filter: brightness(85%);
}
/*----------------------------------------------------------*/
@media screen and (max-width: 450px){
    .selected-title{
        visibility: hidden;
    }
    .selected-header::after {
        content: 'Tag(s)';
        height: 20px;
        width: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
    }
}
/*----------------------------------------------------------*/