{% extends "base.html.twig" %}

{% block title 'Mon Compte' %}
    
{% block body %}
    <div>
        <div class="input-text">
            <label for="email">Mon adresse mail</label>
            <input type="email" name="email" id="email" value="{{ user.email }}">
        </div>
    </div>
    
{% endblock %}